absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1658854572623/work
appdirs==1.4.4
asttokens==2.0.8
backcall==0.2.0
bayesian-optimization==1.2.0
brotlipy @ file:///home/conda/feedstock_root/build_artifacts/brotlipy_1636012188166/work
cachetools==5.2.0
certifi==2022.9.24
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1636046063618/work
cftime==1.6.2
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1644853463426/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1639699280509/work
cycler==0.11.0
decorator==5.1.1
executing==1.0.0
fonttools==4.30.0
google-auth==2.11.0
google-auth-oauthlib==0.4.6
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1639715741418/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1653252793585/work
importlib-resources==5.10.1
ipython==8.4.0
jedi==0.18.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver==1.3.2
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/lightgbm_1641599977518/work
loguru==0.6.0
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1657921053229/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1648737563195/work
matplotlib==3.5.1
matplotlib-inline==0.1.6
MetPy==1.4.0
netCDF4==1.6.2
ninja==1.10.2.3
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1646717169554/work
oauthlib==3.2.0
onnx==1.8.1
onnx-simplifier==0.3.5
onnxruntime==1.8.0
opencv-python==4.6.0.66
packaging==21.3
pandas==1.4.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1645323150784/work
Pint==0.20.1
pooch==1.6.0
prompt-toolkit==3.0.31
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
Pygments==2.13.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing==3.0.7
pyproj==3.4.1
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1635862404924/work
python-dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1641580202195/work
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1652976690378/work
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1653073867187/work
seaborn==0.11.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
stack-data==0.5.0
tabulate==0.8.10
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
thop==0.1.1.post2207130030
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
torch @ file:///home/conda/feedstock_root/build_artifacts/pytorch-recipe_1651023283960/work
torchaudio==0.11.0
torchvision @ file:///home/conda/feedstock_root/build_artifacts/torchvision-split_1647904229086/work
tqdm==4.64.0
traitlets==5.3.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1644850595256/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1641584929973/work
vmdpy==0.2
wcwidth==0.2.5
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1660053523487/work
xarray==2022.12.0
xgboost==1.5.1
yolox==0.3.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1659400682470/work
